/* universal styles */

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: .9;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* nav styles */
header {
    display: block;
    position: relative;
    bottom: 30px
}
nav {
    height: 69px;
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: black;
    align-items: center;
    border-bottom: 1px solid seashell;
}

.nav-logo {
    height: 50px;
    margin-left: 10px;
}

.nav-items {
    margin-right: 10px;
}

.nav-item {
    display: inline;
}

a:link {
    color: white;
}